﻿@{
    ViewBag.Title = "Book Management";
    ViewBag.ShowBackBar = true;
}




<div ng-controller="BookController">
    <div id="Add_Book">

        <div class="form-group">
            <label for="Details"><h3>Enter book details</h3></label>
            <input type="text" class="form-control" id="title" placeholder="Book title" [required="string" ] data-ng-model="title" />
            <input type="text" class="form-control" id="author" placeholder="Author" [required="string" ] data-ng-model="author" />
            <input type="number" class="form-control" id="pages" placeholder="Pages" [required="number" ] data-ng-model="pages" />
            <input type="date" class="form-control" id="date" placeholder="Date of publish" [required="string" ] data-ng-model="publishdate" />
        </div>
        <button type="button" class="btn btn-default" data-ng-click="saveBook();">Submit</button>
    </div>

    <br />
    <div>
        <h2>Book List</h2>
        <input type="text" id="key" onkeyup="myFunction()" placeholder="Search for titles.." title="Type in a title">

        <table id="bookTable">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Date of publish</th>
            </tr>
            <tbody data-ng-repeat="book in books">
                <tr>
                    <td>{{book.book_ID}}</td>
                    <td>{{book.book_Title}}</td>
                    <td>{{book.book_Author}}</td>
                    <td>{{book.book_Pages}}</td>
                    <td>{{book.book_DateOfPublish}}</td>
                    <td><button type="button" class="btn btn-danger" value="delete" id="delete" data-ng-click="delBook(book.book_ID)">Delete</button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("key");
        filter = input.value.toUpperCase();
        table = document.getElementById("bookTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>