﻿@{
    ViewBag.Title = "Welcome";
}



    <div class="row">
        <div class="jumbotron">
            <div class="col-mid-4">
            <a href="http://localhost:21662/Home/Members"> Members</a>
            </div>
            <div class="col-mid-4">
                <a href="http://localhost:21662/Home/Books"> Books</a>
            </div>
            <div class="col-mid-4">
                <a href="http://localhost:21662/Home/Transaction"> Issue/Return</a>
            </div>
        </div>
    </div>
