﻿@{
    ViewBag.Title = "Member management";
    ViewBag.ShowBackBar = true;
}

    <div id="MemberTable" ng-controller="MemberController">



    <div class="form-group">
        <label for="Details"><h3>Enter new member details</h3></label>
        <input type="text" class="form-control" id="Fname" placeholder="Enter first name" [required="string" ] data-ng-model="fname" />
        <input type="text" class="form-control" id="Lname" placeholder="Enter last name" [required="string" ] data-ng-model="lname" />

        <input type="radio" id="gender" value="Male" data-ng-model="gender" />Male
        <input type="radio" id="gender" value="Female" data-ng-model="gender" />Female
        <input type="number" class="form-control" id="age" placeholder="Age" [required="number" ] data-ng-model="age" />
        <input type="text" class="form-control" id="address" placeholder="Address" [required="string" ] data-ng-model="address" />
    </div>
    <button type="button" class="btn btn-default" data-ng-click="saveMemb();">Submit</button>

    <div>
        <h2>Member List</h2>
        <br />
        <input type="text" id="key" onkeyup="myFunction()" placeholder="Search for names." title="Type in name">

        <table id="memberTable">
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Address</th>
                <th>Subscribed Date</th>
            </tr>
            <tbody data-ng-repeat="member in members">
                <tr> 
                    <td>{{member.member_ID}}</td>
                    <td>{{member.member_FirstName}}</td>
                    <td>{{member.member_LastName}}</td>
                    <td>{{member.member_Gender}}</td>
                    <td>{{member.member_Age}}</td>
                    <td>{{member.member_Address}}</td>
                    <td>{{member.member_DateJoin}}</td>
                    <td><button type="button" class="btn btn-danger" value="delete" id="delete"  data-ng-click="delMember(member.member_ID)">Delete</button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("key");
        filter = input.value.toUpperCase();
        table = document.getElementById("memberTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
