﻿@{

    ViewBag.ShowBackBar = true;
}
<div ng-controller="TransactionController">
    <div class="add_Transaction">
        <label for="Details"><h3>New Transaction</h3></label>
        <div class="form-group">
            <div class="row">

                <div class="col-md-4">
                    <input type="text" class="form-control" id="Member ID" data-ng-keyup="getName();" placeholder="Enter member ID" [required="string" ] data-ng-model="mid" />
                    <p class="form-control-static">Member Name: {{user.member_FirstName}}{{user.member_LastName}}</p>
                </div>

            <div class="col-md-4">
                <input type="text" class="form-control" id="Book ID" data-ng-keyup="getTitle();" placeholder="Enter book ID" [required="string" ] data-ng-model="bid" />
                <p class="form-control-static">Book Title:{{Book.book_Title}}</p>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-default" data-ng-click="saveTrans();">Submit</button>
            </div>


        </div>
    </div>
</div>


<div id="TransactionTable">

    <div>
            <h2>Transactions</h2>
            <br />
        <div class="row"></div>
        <div class="col-md-4">
            <input type="text" id="key" onkeyup="myFunction()" placeholder="Search for titles." title="Type in title">
        </div>
        <div class="col-md-4">
            <input type="text" id="key2" onkeyup="myFunction2()" placeholder="Search for names." title="Type in name">
        </div>

        <br /><br />
            <table id="memberTable">
                <tr>
                    <th>ID</th>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Member ID</th>
                    <th>Member name</th>
                    <th>Issued Date</th>
                    <th>Returned Date</th>
                    <th>Days</th>
                    <th>Fine</th>
                </tr>
                <tbody data-ng-repeat="trans in transactions">
                    <tr>
                        <td>{{trans.ID}}</td>
                        <td>{{trans.book_ID}}</td>
                        <td>{{trans.book_Title}}</td>
                        <td>{{trans.member_ID}}</td>
                        <td>{{trans.member_Name}}</td>
                        <td>{{trans.dateOfIssue}}</td>
                        <td>{{trans.dateOfReturn}}</td>
                        <td>{{trans.daysIssued}}</td>
                        <td>{{trans.fine}}</td>
                        <td><button type="button" class="btn btn-success" ng-model="return" ng-disabled="isDisabled" data-ng-click="updateTrans(trans);">Return</button></td>
                        <td><button type="button" class="btn btn-xs" data-ng-click="deleteTrans(trans.ID);">Delete</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
</div>
    </div>


    <script>
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("key");
            filter = input.value.toUpperCase();
            table = document.getElementById("memberTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function myFunction2() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("key2");
            filter = input.value.toUpperCase();
            table = document.getElementById("memberTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[4];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
</script>
